
  <div #sidebar class="sidebar  pb-3 open">
    <nav class="navbar bg-color-nav navbar-dark">
        <a href="index.html" class="navbar-brand mx-4 mb-3">
            <h3 class="text-primary"><i class="fa fa-user-edit me-2"></i>DarkPan</h3>
        </a>
        <div class="d-flex align-items-center ms-4 mb-4">
            <div class="position-relative">
                <img class="rounded-circle" [src]="user.img" alt="" style="width: 40px; height: 40px;">
                <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
            </div>
            <div class="ms-3">
                <h6 class="mb-0 user-name">{{user.username}}</h6>
            </div>
        </div>
        <div class="navbar-nav w-100">
            <a  [routerLink]="['/analise']" class="nav-item nav-link active"><i class="fa fa-tachometer-alt me-2"></i>Análise</a>
            <a  [routerLink]="['/dados']" class="nav-item nav-link active" data-bs-toggle="dropdown"><i class="fa fa-laptop me-2"></i>Dados</a>
            <a  [routerLink]="['/galeria']" class="nav-item nav-link active" data-bs-toggle="dropdown"><i class="fa fa-laptop me-2"></i>Galeria</a>
        </div>
    </nav>
    <div class="footer-sidebar">
        <img src="assets/logo4p.png" alt="">
        <span>PAINEL</span>
    </div>
  </div>
  <nav class="navbar navbar-expand bg-color-nav navbar-dark sticky-top px-4 py-0">
    <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
        <h2 class="text-primary mb-0"><i class="fa fa-user-edit"></i></h2>
    </a>
    <a (click)="openSideBar()" class="sidebar-toggler flex-shrink-0">
        <i class="fa fa-bars"></i>
    </a>
    <div class="navbar-nav align-items-center ms-auto">
        <div class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                <img class="rounded-circle me-lg-2" [src]="user.img" alt="" style="width: 40px; height: 40px;">
                <span class="d-none d-lg-inline-flex">Usuario</span>
            </a>
            <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                <a (click)="logout()" class="dropdown-item">Sair</a>
            </div>
        </div>
    </div>
  </nav>
  <div #content class="content open">
    <ng-content></ng-content>
  </div>
