<div>
  <div class="row ms-3 me-3 mt-2 mt-2 mb-4 content-card">
    <div class="col-lg-3">
      <app-card-info [title]="'Previsto'" [info]="'1000'"></app-card-info>
    </div>
    <div class="col-lg-3">
      <app-card-info [title]="'Previsto'" [info]="'1000'"></app-card-info>
    </div>
    <div class="col-lg-3">
      <app-card-info [title]="'Previsto'" [info]="'1000'"></app-card-info>
    </div>
    <div class="col-lg-3">
      <app-card-info [title]="'Previsto'" [info]="'1000'"></app-card-info>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <app-card-chart-faturamento></app-card-chart-faturamento>
    </div>
  </div>
</div>
