<div>
  <div style="margin-top: 90px; margin-bottom: 20px;" class="card">
    <div class="d-flex mt-2 me-3 ms-3 justify-content-between">
      <h4>Resumo</h4>
    </div>
    <div class="row ms-3 me-3 mt-2 mt-2 mb-4 content-card">
      <div class="col-lg-3">
        <app-card-info
          [title]="'Faturamento Previsto'"
          [info]="'1000'"
        ></app-card-info>
      </div>
      <div class="col-lg-3">
        <app-card-info
          [title]="'Faturamento Realizado'"
          [info]="'1000'"
        ></app-card-info>
      </div>
      <div class="col-lg-3">
        <app-card-info
          [title]="'Novos Clientes'"
          [info]="'1000'"
        ></app-card-info>
      </div>
      <div class="col-lg-3">
        <app-card-info [title]="'Bonificação'" [info]="'1000'"></app-card-info>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="d-flex mt-2 me-3 ms-3 justify-content-between">
      <h4>Faturamento por indústria</h4>
    </div>
    <div class="card-body">
      <app-data-table-faturamento></app-data-table-faturamento>
    </div>
  </div>
</div>
