<app-collapse-resumo-financeiro [mediaPrice]="mediaPrice" [sumPrice]="sumPrice" [activityTotal]="activityTotal"></app-collapse-resumo-financeiro>

<nz-table #nzTable [nzData]="listToDisplay" nzTableLayout="fixed">
  <thead>
    <tr>
      <th>Id</th>
      <th>Industria</th>
      <th>Atividade</th>
      <th>PDV</th>
      <th>Projeto</th>
      <th>Preço</th>
      <th>Horas Contr.</th>
      <th>Dias</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of nzTable.data">
      <td>{{ data.id }}</td>
      <td>{{ data.activity.brand.name }}</td>
      <td>{{ data.activity.description }}</td>
      <td>{{ data.shop.name }}</td>
      <td>{{data.shop.project}}</td>
      <td>{{ data.price | currency:'BRL' }}</td>
      <td>{{ data.hoursContracted }}</td>
      <td>{{ data.daysInWeekContracted}}</td>
      <td>
        <a >Exibir</a>
      </td>
    </tr>
  </tbody>
</nz-table>
