<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">Cadastro - Dados de Atividade</h4>
  </div>
  <div class="modal-body">
    <div class="modal-container">
      <form [formGroup]="form">
        <label for="activity">Atividade</label>
        <input formControlName="activity" class="form-control" type="text" readonly id="activity" />
        <label for="shop">PDV</label>
        <input formControlName="shop" class="form-control" type="text" readonly id="shop" />
        <label for="price">Preço</label>
        <input formControlName="price" class="form-control" type="number"  id="price" />
        <label for="daysInWeekContracted">Dias na semana</label>
        <input formControlName="daysInWeekContracted" class="form-control" type="text" readonly id="daysInWeekContracted" />
        <label for="hoursContracted">Horas por atendimento</label>
        <input formControlName="hoursContracted" class="form-control" type="text" readonly id="hoursContracted" />
      </form>
      <div class="modal-footer">
        <input
          type="button"
          class="btn btn-default"
          data-dismiss="modal"
          value="Cancel"
        />
        <input
          type="submit"
          class="btn btn-info"
          value="Save"
        />
      </div>
    </div>
  </div>
</div>
