<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Configuração - Análise</h5>
        <button
          type="button"
          class="btn-close"
          aria-label="Close"
          (click)="activeModal.close()"
        ></button>
      </div>
      <div class="modal-body">
        <label>Periodo:</label>
        <div class="d-flex">
            <input type="date" class="data-input form-control" [formControl]="initialDate" id="initialDate" />
            <input type="date" class="data-input form-control"[formControl]="finalDate" id="finalDate" />
        </div>
        <div class="d-flex flex-column">
          <label for="brand">Marca</label>
          <app-multi-select (itemsEventEmmiter)="eventListenerSetItem($event)" [values]="valueToFilter.brand" [type]="'config'" [id]="'brand'"></app-multi-select>
          <label for="project">Projeto</label>
          <app-multi-select (itemsEventEmmiter)="eventListenerSetItem($event)" [values]="valueToFilter.project" [type]="'config'" [id]="'project'"></app-multi-select>
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="activeModal.close()">
          Fechar
        </button>
        <button type="button" (click)="setConfig()" class="btn btn-primary">Aplicar</button>
      </div>
</div>
