
<div class="col-12 card-photo card" style="height:575px">
    <img class="img-thumbnail img-card"
        [src]="dataPhotoGrid.url"
        alt="Card image cap">
    <div class="card-body">
        <p class="card-text">Data: {{dataPhotoGrid.data | date: 'dd/MM/yyyy'}}</p>
        <p class="card-text">Local: {{dataPhotoGrid.local}}</p>
        <p class="card-text">Promotor: {{dataPhotoGrid.promotor}}</p>
        <p class="card-text">SEÇÃO: {{dataPhotoGrid.secao}}</p>
        <a [href]="dataPhotoGrid.url">LINK DA FOTO</a>
    </div>
</div>
