.example-detail-row {
    height: 0;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  
  .mat-sort-header{
    font-weight: bold;
    font-size: 1rem;
    color: #68778c;
  }
  .mat-cell{
    padding-right: 10px;
  }

  .detail-table {
    background: #e2e2e273;
    text-align: center;
    .ng-tns-c136-0{
        padding-top: 5px;
        padding-bottom: 5px;
    }
  }
  table{
    width: 100%;
   }
   .mat-table {
    overflow-x: scroll;
  }
  .top-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 5px 0px 5px 0px
  }
.btn{
  width: 100px;
  .bt-clicked{
    background-color: #FF6047;
  }
}
  
  