<div class="top-bar">
  <h2 class="tilte-card">Pesquisa</h2>
  <div class="btn-group" role="group">
    <button
      type="button"
      (click)="changeMode()"
      class="btn btn-secondary bt-clicked"
    >
      Agrupado
    </button>
    <button type="button" (click)="changeMode()" class="btn btn-secondary">
      Aberto
    </button>
  </div>
  <button type="button" (click)="emitObservableToDownload()" style="background: #ff6047" class="btn btn-secondary">
    Exportar
  </button>
</div>

<div class="card">
  <div class="card-body" style="min-height: 500px">
    <div [hidden]="isLoadingDatas == 'ATIVO' || isLoadingDatas == ''">
      <table
        mat-table
        [dataSource]="dataSource"
        multiTemplateDataRows
        class="mat-elevation-z8"
        matSort
      >
      <ng-container matColumnDef="shop">
        <th mat-header-cell *matHeaderCellDef> PDV </th>
        <td mat-cell *matCellDef="let element"> {{element.shop.name}} </td>
      </ng-container>
      <ng-container matColumnDef="promoter">
        <th mat-header-cell *matHeaderCellDef> PROMOTOR </th>
        <td mat-cell *matCellDef="let element"> {{element.promoter.name}} </td>
      </ng-container>
      <ng-container matColumnDef="project">
        <th mat-header-cell *matHeaderCellDef> PROJETO </th>
        <td mat-cell *matCellDef="let element"> {{element.project}} </td>
      </ng-container>
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> DATA </th>
        <td mat-cell *matCellDef="let element"> {{element.date | date: "dd/MM/yyyy"}} </td>
      </ng-container>

        <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
        <ng-container matColumnDef="expandedDetail">
          <td
            mat-cell
            *matCellDef="let element"
            [attr.colspan]="columnsToDisplay.length"
          >
            <div
              class="example-element-detail"
              [@detailExpand]="element.expanded ? 'expanded' : 'collapsed'"
            >
              <table class="detail-table">
                <tr>
                  <th>Item</th>
                  <th>Valor</th>
                  <th>Estoque</th>
                  <th>Validade</th>
                  <th>Status</th>
                </tr>
                <tr *ngFor="let detail of element.details">
                  <td>{{ detail.product.name }}</td>
                  <td>{{ detail.price | currency: 'BRL' }}</td>
                  <td>{{ detail.stock }} CX</td>
                  <td>{{ detail.validity | date: "dd/MM/yyyy" }}</td>
                  <td>{{ detail.ruptura }}</td>
                </tr>
              </table>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay;" (click)="toggleRow(row)"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: ['expandedDetail']"
          class="example-detail-row"
        ></tr>
      </table>

      <mat-paginator
        #paginator
        [length]="length"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions"
        (page)="pageEvent = $event"
        aria-label="Select page"
      >
      </mat-paginator>
    </div>
    
    <div  [hidden]="isLoadingDatas == 'INATIVO' || isLoadingDatas == ''">
      <div
      class="mt-03"
      style="
        display: flex;
        justify-content: center;
        align-items: center;
        background: white;
        margin-bottom: auto;
        margin-top: auto;
      "
    >
      <mat-progress-spinner color="primary" mode="indeterminate">
      </mat-progress-spinner>
    </div>
    </div>

    <div [hidden]="isLoadingDatas != ''">
      <p class="text-center">Sem dados</p>
    </div>
  </div>
</div>
