.mat-column-Produto {
  border-right: 1px solid;
  border-right-color: rgb(168, 168, 168);
}

.mat-column-4 {
    border-right: 1px solid;
    border-right-color: rgb(168, 168, 168);
  }
.mat-column-1 {
    margin-left: 10px;
  }

  .mat-table {
    overflow-x: scroll;
    max-width: 99%;
  }
  
  .mat-cell,
  .mat-header-cell {
    word-wrap: initial;
    display: table-cell;
    padding: 0px 10px;
    line-break: unset;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
  }
  
  .mat-row,
  .mat-header-row {
    display: table-row;
  }

::ng-deep tfoot {
  tr {
    td {
      padding: 0px 10px !important;
      font-weight: 800;
      border-right: none !important;
    }
  }
}
.mat-header-cell{
    font-size: 16px;
}