<div class="mx-auto content-card">
    <div class="content-art-info">
        <img class="img-fluid" [src]="artInfo" alt="">
    </div>
    <div class="content-login">
        <div class="content-logo">
            <img height="60" [src]="logo"/>
            <span>PAINEL</span>
        </div>
        <form [formGroup]="form">
            <div class="form-field">
                <label>Usuário:</label>
                <input class="form-control" formControlName="userName" type="text"/>
            </div>
            <small *ngIf="
            form.get('userName').errors?.['required'] &&
            (form.get('userName').dirty || form.get('userName').touched)"class="text-danger d-block mt-2">
             Usuário é necessário
            </small> 

            <div class="form-field">
                <label>Senha:</label>
                <input class="form-control"  formControlName="password" type="password"/>
            </div>
            <small *ngIf="
            form.get('password').errors?.['required'] &&
            (form.get('password').dirty || form.get('password').touched)"class="text-danger d-block mt-2">
             Senha é necessário
            </small> 
            <button class="button-submit btn btn-primary " (click)="onSubmit()" [disabled]="!form.valid" type="submit">Entrar</button>
            <a class="forgot-password" href="">Esqueci minha senha</a>
        </form>
    </div>
</div>
