<app-nav>
  <div class="container-body">
    <div class="row mb-4">
      <div class="col-12">
        <div class="card">
          <div class="row">
            <div class="col-lg-4">
                <div
                  class="m-2 bg-secondary-color rounded-lg d-flex align-items-center justify-content-between p-4"
                  style="border: 1px solid
                  ;
                  border-radius: 5px;"
                >
                  <div>
                    <h4 class="mb-1">Media Caixas abastecidads</h4>
                    <h2 class="mb-0">100</h2>
                  </div>
                  <i class="fa-solid fa-check fa-3x"></i>
                </div>
              </div>
              <div class="col-lg-4">
                <div
                  class="m-2 bg-secondary-color rounded-lg d-flex align-items-center justify-content-between p-4"
                  style="border: 1px solid
                  ;
                  border-radius: 5px;"
                >
                  <div>
                    <h4 class="mb-1">Caixas Abastecidas</h4>
                    <h2 class="mb-0">100</h2>
                  </div>
                  <i class="fa-sharp fa-solid fa-store fa-3x"></i>
                </div>
              </div>
              <div class="col-lg-4">
                <div
                  class="m-2 bg-secondary-color rounded-lg d-flex align-items-center justify-content-between p-4"
                  style="border: 1px solid
                  ;
                  border-radius: 5px;"
                >
                  <div>
                    <h4 class="mb-1">Rupturas</h4>
                    <h2 class="mb-0">100</h2>
                  </div>
                  <i class="fa-sharp fa-solid fa-xmark fa-3x"></i>
                </div>
              </div>
          </div>
         
        </div>
      </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="row">
                <div class="col-12">
                    <h2 class="tilte-card">Análise Abastecimento</h2>
                </div>
                <div class="row">
                    <div class="col-12">
                        <table class="table">
                            <thead>
                                <th>PDV</th>
                                <th>Item</th>
                                <th>1º</th>
                                <th>2º</th>
                                <th>3º</th>
                                <th>4º</th>
                                <th>5º</th>
                                <th>Media Abast.</th>
                                <th>Total Abast.</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>LOJA 1</td>
                                    <td>ITEM 1</td>
                                    <td>100</td>
                                    <td>100</td>
                                    <td>100</td>
                                    <td>100</td>
                                    <td>100</td>
                                    <td>100</td>
                                    <td>100</td>
                                </tr>
                                <tr>
                                    <td>LOJA 1</td>
                                    <td>ITEM 1</td>
                                    <td>100</td>
                                    <td>100</td>
                                    <td>100</td>
                                    <td>100</td>
                                    <td>100</td>
                                    <td>100</td>
                                    <td>100</td>
                                </tr> <tr>
                                    <td>LOJA 1</td>
                                    <td>ITEM 1</td>
                                    <td>100</td>
                                    <td>100</td>
                                    <td>100</td>
                                    <td>100</td>
                                    <td>100</td>
                                    <td>100</td>
                                    <td>100</td>
                                </tr> <tr>
                                    <td>LOJA 1</td>
                                    <td>ITEM 1</td>
                                    <td>100</td>
                                    <td>100</td>
                                    <td>100</td>
                                    <td>100</td>
                                    <td>100</td>
                                    <td>100</td>
                                    <td>100</td>
                                </tr> <tr>
                                    <td>LOJA 1</td>
                                    <td>ITEM 1</td>
                                    <td>100</td>
                                    <td>100</td>
                                    <td>100</td>
                                    <td>100</td>
                                    <td>100</td>
                                    <td>100</td>
                                    <td>100</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="7">Totais</td>
                                    <td>100</td>
                                    <td>100</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</app-nav>
