<div class="card mt-4">
  <ng-container *ngIf="isLoading">
    <div
      style="
        display: flex;
        justify-content: center;
        align-items: center;
        background: white;
        margin-bottom: auto;
        margin-top: auto;
      "
    >
      <mat-progress-spinner color="primary" mode="indeterminate">
      </mat-progress-spinner>
    </div>
  </ng-container>
  <ng-container *ngIf="!isLoading">
    <div class="d-flex mt-2 me-3 ms-3 justify-content-between">
      <h4>Resumo Diário</h4>
    </div>
    <div class="row ms-3 me-3 mt-2 mt-2 mb-4 content-card">
      <div class="col-lg-4">
        <div
          class="bg-secondary-color rounded-lg d-flex align-items-center justify-content-between p-4"
          style="background-color: #0ac282"
        >
          <div>
            <h4 class="mb-1">Realizado</h4>
            <h2 class="mb-0">{{ countComplete }}</h2>
          </div>
          <i class="fa-solid fa-check fa-3x"></i>
        </div>
      </div>
      <div class="col-lg-4">
        <div
          class="bg-secondary-color rounded-lg d-flex align-items-center justify-content-between p-4"
          style="background-color: #ffc107"
        >
          <div>
            <h4 class="mb-1">Em campo</h4>
            <h2 class="mb-0">{{ countDoing }}</h2>
          </div>
          <i class="fa-sharp fa-solid fa-store fa-3x"></i>
        </div>
      </div>
      <div class="col-lg-4">
        <div
          class="bg-secondary-color rounded-lg d-flex align-items-center justify-content-between p-4"
          style="background-color: #fe5d70"
        >
          <div>
            <h4 class="mb-1">Pendente</h4>
            <h2 class="mb-0">{{ countMissing }}</h2>
          </div>
          <i class="fa-sharp fa-solid fa-xmark fa-3x"></i>
        </div>
      </div>
    </div>
  </ng-container>
</div>
