
<ng-container *ngIf="!isLoadingValues">
    <div class="top-bar">
        <h2 class="tilte-card">Filtro</h2>
    </div>
    <div class="row row-input justify-content-between" >
        <div  class=" col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <label>Periodo: </label>
            <div class="data-group">
                <input type="date" (change)="loadValuesToFilter()" class="data-input form-control" [formControl]="initialDate" id="initialDate" />
                <input type="date" (change)="loadValuesToFilter()" class="data-input form-control"[formControl]="finalDate" id="finalDate" />
              </div>
        </div>
        <div class=" col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <label>Indústria:</label>
                <input type="text" class="data-input form-control" value="CLIENTE TESTE" readonly id="brand" />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <label>Projeto:</label>
                <app-multi-select  [type]="'data'" [id]="'project'"></app-multi-select>
        </div>
    </div>
    <div class="row row-input">
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <label>PDV:</label>
                <app-multi-select [values]="valuesToFilter['shop']" [type]="'data'" [id]="'shop'"></app-multi-select>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <label>Tipo de pesquisa:</label>
                <app-multi-select></app-multi-select>
        </div>
        <div class=" col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <label>Rede:</label>
                <app-multi-select ></app-multi-select>
        </div>
        <div class=" col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <label>Promotor:</label>
                <app-multi-select [values]="valuesToFilter['promoter']" [type]="'data'" [id]="'promoter'"></app-multi-select>
        </div>
    </div>
    <div class="row row-input">
        <div class=" col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <label>Produto:</label>
                <app-multi-select [values]="valuesToFilter['product']" [type]="'data'" [id]="'product'"></app-multi-select>
        </div>
        <div class=" col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <label>Ruptura</label>
                <app-multi-select [values]="valuesToFilter['status']" [type]="'data'" [id]="'status'"></app-multi-select>
        </div>
        <button type="button" (click)="onFilter()" class="button-filter btn btn-secondary">
            Filtrar
          </button>
    </div>
</ng-container>

<ng-container *ngIf="isLoadingValues">
    <div
    *ngIf="isLoadingValues"
     style="
       display: flex;
       justify-content: center;
       align-items: center;
       background: white;
     "
   >
     <mat-progress-spinner color="primary" mode="indeterminate">
     </mat-progress-spinner>
   </div>
 
</ng-container>

