<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">Cadastro - Bonificação</h4>
  </div>
  <div class="modal-body">
    <div class="modal-container">
      <form>
        <label for="brand">Atividade</label>
        <app-multi-select
          [values]="values"
          [type]="'modal-bonus'"
          [id]="'activity'"
        ></app-multi-select>
        <label for="createdAt">Criado em</label>
        <input class="form-control" type="date" id="createdAt" />
        <label for="finishedAt">Finaliza em</label>
        <input class="form-control" type="date" id="finishedAt" />
        <label for="type_bonus">Tipo de Bonificação</label>
        <select
          class="form-control"
          id="type_bonus"
          (change)="setTypeBonus($event)"
        >
          <option disabled selected></option>
          <option value="per_price">Preço</option>
          <option value="days_in_week">Dias na semana</option>
        </select>
        <ng-container *ngIf="typeBonus == 'per_price'">
          <label for="price">Novo valor da atividade</label>
          <input class="form-control" type="number" name="price" id="price" />
        </ng-container>
        <ng-container *ngIf="typeBonus == 'days_in_week'">
          <label for="price">Dias de desconto</label>
          <input
            class="form-control"
            type="number"
            name="days_in_week"
            id="days_in_week"
          />
        </ng-container>

        <button (click)="updateShops()" type="button" class="btn btn-info">
          Atualizar lista
        </button>
        <app-data-table-modal-bonus [listOfData]="shopsToShow"></app-data-table-modal-bonus>
      </form>
    </div>
  </div>
</div>
