<div class="top-bar">
  <h2 class="tilte-card">Galeria</h2>
  <div class="btn-group" role="group">
    <button
      type="button"
      (click)="changeMode()"
      class="btn btn-secondary bt-clicked"
    >
      Agrupado
    </button>
    <button type="button" (click)="changeMode()" class="btn btn-secondary">
      Aberto
    </button>
  </div>
  <button type="button" style="background: #ff6047;" class="btn btn-secondary">Exportar</button>
</div>

<ng-container *ngIf="!isLoading">
  <div class="row row-photo" *ngFor="let dataPhotoGrids of rows">
    <div
      class="col-photo col-sm-12 col-lg-4"
      style="margin: 5px 0px 5px 0px;"
      *ngFor="let dataPhotoGrid of dataPhotoGrids"
    >
      <app-photo [dataPhotoGrid]="dataPhotoGrid"></app-photo>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="isLoading">
  <div
    class="mt-03"
    style="
      display: flex;
      justify-content: center;
      align-items: center;
      background: white;
      margin-bottom: auto;
      margin-top: auto;
    "
  >
    <mat-progress-spinner color="primary" mode="indeterminate">
    </mat-progress-spinner>
  </div>
</ng-container>
